.ajax-mask {
  background: none;
}

.ajax-mask .loading {
  width: 100px;
  height: 70px;
  background: #333 url('../img/loaders/loading_mask.gif') center 12px no-repeat;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  left:50%;
  margin-left:-25px;
  top:50%;
  margin-top: -25px;
  opacity: 0.9;
  -moz-opacity: 0.9;
  text-align: center;
  color: white;
  padding-top:39px;
}

.parsley-error-list {
font-size: 13px;
}

/* colorful bootstrap blue-button */
.btn-blue {
  color: #fff;
  background-color: #0099ff;
  border-color: #0099ff;
}
.btn-block {
  display: block;
  width: 100%;
}